<% tab_page do %>
	<%= render :partial => 'header' %>

	<div class="interaction_section">
		<ol class="message_preview_list">
			<% for message in @messages %>
				<li class="message_preview" id="<%= dom_id(message, 'preview') %>">
					<%= mini_avatar_link_for(message.recipient) %>
					<div class="message_preview_details" onclick="Element.toggle('<%= dom_id(message, 'body_truncated') %>'); Element.toggle('<%= dom_id(message, 'body') %>'); return false;">
						<span class="time_ago"><%= time_ago_in_words message.created_on %> ago</span>
						<h3><%=h message.subject %></h3>
						<div class="message_body_truncated" id="<%= dom_id(message, 'body_truncated') %>">
							<%=h truncate(message.body, :length => 100) %>
						</div>
						<div class="message_body" id="<%= dom_id(message, 'body') %>" style="display:none">
							<div class="from">
								(from <%=h message.sender.name %>)
							</div>
							<%= simple_format h(message.body) %>
						</div>
					</div>
				</li>
			<% end %>
		</ol>

		<div class="navigation">
			<%= will_paginate @messages %>
		</div>		
	</div>
<% end %>