<% remote_form_for :group_membership, @group_membership, :url => formatted_group_group_members_path(group, :js), :html => {:method => :post, :class => 'single_column'}, :loading => show_spinner(:new_group_membership) do |f| %>
	<%= error_message_on :group_membership, :base, '', '', 'formBaseError' %>

	<div class="form_row">
		<label for="group_membership[username]">Yahoo Username</label>
		<%= f.text_field :username %>
		<%= error_message_on :group_membership, :username, 'Username ' %>
	</div>

	<div class="form_row">
		<label for="group_membership[password]">Yahoo Password</label>
		<%= f.password_field :password %>
		<%= error_message_on :group_membership, :password, 'Password ' %>
	</div>

  <div class="footer">
		<%= submit_tag 'Submit' %> <%= spinner :new_group_membership, 'Contacting Yahoo.com, please wait...' %>
	</div>
<% end %>				
