<% tab_page do %>

	<div class="section_header">
		<h1>Members</h1>
		<h2><%= @group.display_name %></h2>
	</div>

	<div class="external_profiles">
		<% for external_profile in @external_profiles %>
			<div class="profile_teaser">
				<%= avatar_link_for_external_profile external_profile %>

				<div class="profile_teaser_contents">
					<%= interaction_ticks_for_external_profile(external_profile) %>
					<h2><%= link_to external_profile.name, external_profile.profile_url %></h2>
					<div class="interests tags">
						<%= external_profile_tags_with_bold_shared(external_profile, :interest, current_user, 25) %>
					</div>
					<div class="kinks tags">
						<%= external_profile_tags_with_bold_shared(external_profile, :kink, current_user, 25) %>
					</div>		
				</div>

			</div>
		<% end %>
	</div>
	
	<%= will_paginate @external_profiles %>	
	
<% end %>