<div class="dare_challenge_form">
	<%= avatar_link_for @dare_challenge.user %>
	
	<h1>Waiting for <%=h @dare_challenge.user.name %></h1>

	<div class="form_description">
		<p>
			You have issued your dare to <%=h @dare_challenge.user.name %>, and are waiting for them to respond.
			<% if @dare_challenge.response_added_at %>
				So far, it's been <%= time_ago_in_words @dare_challenge.response_added_at %>.
			<% end %>
		</p>
		<p>
			<%= link_to "&lt; Back to #{h(@dare_challenge.user.name)}'s Profile", @dare_challenge.user.profile_url %>
		</p>
	</div>
</div>