<h1>With Playful Bent Dares You Can...</h1>

<div class="about_reason">
	<%= image_tag 'about/dares/about_dares_1.jpg', :alt => 'acting out fantasies', :class => 'about' %>

	<h2>Find People to Act Out your Fantasies</h2>

	<p>Lots of people visit our dares section. They might be shy or adventurous, kinky or vanilla, boys or girls,
	and they just might be interested in acting out your dare.</p>

	<p>To make sure that dares get the attention that they deserve, we only allow <%= Dare::MAX_OPEN.en.numwords %>
	of them on the site at a time. If there are less that six dares open, then you'll see a 
	"Dare Someone" button on the dares page. This lets you write a dare that you'd like someone to try
	and do.</p>

	<p>What do you want to see someone do? Something that turns you on? Something that you think might turn
	them on? We don't care what you're into, just keep it legal.</p>	
</div>


<div class="about_reason odd_reason">	
	<%= image_tag 'about/dares/about_dares_2.jpg', :alt => 'acting out fantasies', :class => 'about' %>

	<h2>Try Something Adventurous</h2>

	<p>There's something a little exciting about performing for an audience. Perhaps there's something that
	you've always wanted to try, but never quite had a good enough excuse. Have a read over the dares
	that are sitting at the top of the dares page. Think about how you might do them. Where might you do it?
	How would it make you feel?</p>

	<p>You can click on any one of those dares and post your response. The person who posted the dare might
	have set it to require a picture, or a description of the act, or both. Lots of people like to see
	pictures, but remember that some words about how you felt can make a picture seem a whole lot sexier.</p>

	<p>If you're not interested in the dares that no one has tried yet, you can always respond to any
	dare that's already been performed. The person who originally posted the dare will get notified if you
	respond, and they're sure to pop back and have a look at your sexy act.</p>
</div>

<div class="about_reason">
	<%= image_tag 'about/dares/about_dares_3.jpg', :alt => 'acting out fantasies', :class => 'about' %>

	<h2>Explore Dominance and Submission</h2>

	<p>As well as flirtation and exhibitionism, Playful Bent dares can be used to explore consensual online
	BDSM with other people on the site. If you have someone wanting to submit to you, a safe way to explore
	that might be to have them agree to perform a series of dares for you on the site. If you're a submissive,
	you could talk to other playfully bent people about selecting dares for you.</p>

	<p>To let you explore this dynamic fully, we're planning on adding some sort of private dares to, where
	you agree to perform someone's dare <strong>before</strong> you see what it is. If you're interested in this,
	perhaps you should <%= link_to 'drop us a line', 'mailto:suggestions@playfulbent.com' %> and let us
	know your ideas.</p>
</div>

<div class="about_reason odd_reason">
	<%= image_tag 'about/dares/about_dares_4.jpg', :alt => 'acting out fantasies', :class => 'about' %>

	<h2>Observe, Applaud and Interact</h2>

	<p>Just like to watch? That's absolutely fine. People performing dares are probably still interested to
	hear if you find what they did sexy, or brave (or stupid). You can leave comments on any dare, and the
	darer and responders will get notified.</p>

	<p>Everyone likes a good audience, be sure to let them hear your appreciation.</p>
</div>

<%= link_to 'Take me back to the Dares', dares_url %>