<div class="two_column">
	<div class="left_column">
		<div class="important_section">
			<h2>Like to Join This Group?</h2>

			<center>
				<a href="http://groups.yahoo.com/group/<%= group.group_name %>/join">
					<img src="http://us.i1.yimg.com/us.yimg.com/i/yg/img/i/us/ui/join.gif" border="0" alt="Click here to join <%= group.group_name %>"><br />
					Click to join <%= group.group_name %>
				</a>
			</center>			
		</div>
	</div>

	<div class="right_column">
		<div class="important_section">
			<h2>Already a Member?</h2>
	
			<% if logged_in? -%>
			
				<p>If you a member of this group on yahoo, you can enter your yahoo details here and we'll give you
				access to this group on playful bent. We respect your privacy, and we don't keep your yahoo password.</p>
	
				<div id="new_group_membership_form_container">
					<%= render :partial => 'group_members/new', :locals => {:group => group} %>
				</div>
				
			<% else -%>
			
				<p>If you signup to Playful Bent you can gain access to this group
				using your yahoo account details.</p>
				
				<p><%= link_to 'Click Here', new_session_url %> to get started.</p>
				
			<% end -%>
		</div>	
	</div>	
	
	<div class="footer"></div>
</div>

