<% content_for('head') do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= AppConfig.google_maps_key %>"
    type="text/javascript"></script>
  <script type="text/javascript">

  //<![CDATA[

  function load() {
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map"));
      map.setCenter(new GLatLng(<%= @group.map_lat.to_s %>,<%= @group.map_long.to_s %>), <%= @group.map_zoom.to_s %>);
    }
  }

  //]]>
  </script>
<% end %>

<% content_for('body_tag') do %>onload="load()" onunload="GUnload()"<% end %>


<% tab_page do %>
	<div id="group_details">

		<div class="section_header">
			<h1><%=h @group.display_name %></h1>		
		</div>
	
		<div id="group_description">
			<%= @group.description %>
		</div>
	
		<div class="group_right_column">
			<div class="group_inset">
				<div class="stats_box">
					<div class="stat">
						<label>Yahoo Members:</label> <%= tumbler(@group.external_member_count) %>
					</div>
					<div class="stat">
						<label>Playful Bent Members:</label> <%= tumbler(@group.user_count) %>
					</div>
				</div>
			</div>

			<div id="map" style="width: 366px; height: 400px"></div>
			
		</div>
	
		<% unless @group.is_internal_member?(current_user) %>
	
			<hr class="clear" />
			<%= render(:partial => 'groups/join', :locals => {:group => @group}) %>	
		
		<% end %>
		
	</div>	
<% end %>
