<% tab_page do %>
	<h2><%= @message.subject %></h2>
	<div>
		by <%= @message.sender_external_profile ? link_to(@message.sender_name, yahoo_profile_path(@message.sender_external_profile)) : 'system' %>
		- <%= time_ago_in_words @message.created_at %> ago
	</div>
	<div>
		<%= simple_format(h(@message.text_body)) %>
	</div>

	<p>
		<%= link_to 'Back to List', group_mailing_list_messages_url(@group) %>
	</p>
	
	<div class="copyright_notice">
		Mailing list messages are the copyright of their respective authors. 
	</div>
	
<% end %>

